@import "color";
@import "grid";
@import "font";

@mixin hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
// 圖片路徑
// $img-url1: "https://raw.githubusercontent.com/hexschool/KCGTravel/master/image/%E4%B8%89%E6%B0%91%E5%8D%80/%E4%B8%AD%E9%83%BD%E6%BF%95%E5%9C%B0%E5%85%AC%E5%9C%9207.jpg";

// @mixin img-align-center($img-url, $height) {
//   width: 100%;
//   height: $height;
//   background-image: url($img-url);
//   background-size: cover;
//   background-position: center;
// }

.container {
  max-width: 1024px;
  padding: 30px 42px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  h1 {
    a {
      display: block;
      width: 170px;
      height: 40px;
      background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
      background-position: center;
      background-repeat: no-repeat;
      @include hide-text;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31.25%;
    li {
      a {
        color: $font-dark;
        display: block;
        text-decoration: none;
        font-weight: 600;
        border-bottom: 5px solid transparent;
        padding: 5px;
        &:hover {
          border-bottom: 5px solid $font-dark;
        }
      }
      i {
        color: $font-dark;
        border-bottom: 5px solid transparent;
      }
    }
  }
}

.banner {
  width: 100%;
  height: 496px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/banner.png");
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  .menu {
    width: 32%;
    .category {
      background: $bg-dark;
      color: $font-light;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      font-weight: 600;
    }
    li {
      a {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        font-weight: 600;
        color: $bg-dark;
        text-decoration: none;
        border: 1px solid $border-light;
        &:hover {
          background: $bg-light;
        }
      }
    }
  }

  .main {
    width: 66%;
    .product-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        padding-bottom: 20px;
        .pdt-photo {
          position: relative;
          .pdt-box-title {
            position: absolute;
            left: 20px;
            top: 0;
            background: $bg-dark;
            color: $font-light;
            -webkit-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
            padding: 10px;
            letter-spacing: 4px;
            text-align: center;
          }
          a {
            position: absolute;
            right: 22px;
            top: 19px;
            color: $font-dark;
            font-size: 20px;
            &:hover {
              font-size: 24px;
            }
          }
        }
        .pdt-info {
          display: flex;
          border: 1px solid $border-light;
          color: $font-dark;
          text-align: center;
          font-size: 20px;
          .pdt-name {
            width: 60%;
            padding: 14px;
            border-right: 1px solid $border-light;
            font-weight: 300;
          }
          .pdt-price {
            width: 40%;
            padding: 14px;
            font-weight: 600;
          }
        }
        .pdt-cart {
          a {
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 16px;
            border: 1px solid $border-light;
            font-size: 24px;
            font-weight: 600;
            color: $font-dark;
            background: $bg-light;
            &:hover {
              background: $bg-dark;
              color: $font-light;
            }
          }
        }
      }
    }

    .pages {
      display: flex;
      justify-content: flex-end;
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          text-decoration: none;
          font-size: 20px;
          line-height: 20px;
          color: $font-dark;
          border: 1px solid $border-light;
          font-weight: 300;
          img {
            width: 24px;
            height: 24px;
          }
          &:hover {
            background: $bg-dark;
            color: $font-light;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.footer {
  background: $bg-light;
  .container {
    display: flex;
    justify-content: space-between;
    .contact-info {
      h2 {
        a {
          display: block;
          width: 172px;
          height: 30px;
          background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-lg-dark.svg");
          background-position: center;
          background-repeat: no-repeat;
          @include hide-text;
        }
      }

      .info {
        margin-top: 116px;
        li {
          line-height: 24px;
          color: $font-dark;
          a {
            text-decoration: none;
            color: $font-dark;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .media {
        display: flex;
        margin-top: 32px;
        li a {
          display: block;
          margin-right: 8px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .side-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .vt-rl {
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        font-size: 24px;
        p {
          padding-left: 12px;
        }
      }
    }
  }
}
